/* dashboard style */
.dashboard {
  margin-top: 5rem;
}


.avatar {
  position: relative;
}

.avatar-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  bottom: 3.5rem;
  height: 2rem;
}

.athelete-proflie {
  position: relative;
  margin-bottom: 2rem;
}

.athelete-profile-card {
  margin-top: 7rem;
}

.athelete-week-report {
  margin-top: 3rem;
}

.stat-profile {
  color: #b33939;
}

.stat-profile a:hover {
  text-decoration: none;
  color: #b33939;
}

.stat-subtext {
  font-size: 12px;
  margin: 10px;
}

.stat-text {
  font-size: 1.5rem;
}

.list-stat .stat:hover {
  text-decoration: none;
}

.text-small {
  font-size: 11px;
}

.signin-page {
  padding-top: 5rem;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1461897104016-0b3b00cc81ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.form-signin {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
  background-color: #333;
  color: aliceblue;
  z-index: 5;
}

.media-body {
  margin-left: 1rem;
}

/* ProjectDetile Component*/

#test {
  background-color: #b33939;
  color: aliceblue;
}

.upload-activity {
  background-color: #ecf0f1;
}

.activity {
  margin-bottom: 1.5rem;
}

.owner {
  font-weight: bold;
}

.timestamp {
  font-size: 0.9rem;
}

.stat-list {
  border-right: 1px solid #333;
}

.run-logo {
  font-size: 3rem;
}