@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?s9z35a');
  src: url('fonts/icomoon.eot?s9z35a#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?s9z35a') format('truetype'),
    url('fonts/icomoon.woff?s9z35a') format('woff'),
    url('fonts/icomoon.svg?s9z35a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil2:before {
  content: "\e905";
}

.icon-delete:before {
  content: "\e904";
}

.icon-iconpost .path1:before {
  content: "\e900";
  color: rgb(51, 51, 51);
  opacity: 0.8588;
}

.icon-iconpost .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(43, 43, 43);
}

.icon-logo:before {
  content: "\e902";
  color: #bc0f0f;
}

.icon-logo_1:before {
  content: "\e903";
  color: #bc0f0f;
}



.searchBox {
  width: 200px;
}

.dashboard {
  margin-top: 5rem;
}

.thai-font {
  font-family: "Pridi", serif;
}

.avatar {
  position: relative;
}

.avatar-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  bottom: 3.5rem;
  height: 2rem;
}

.athelete-proflie {
  position: relative;
  margin-bottom: 2rem;
}

.athelete-profile-card {
  margin-top: 5rem;

}

.athelete-week-report {
  margin-top: 3rem;
}

.stat-profile {
  color: #b33939;
}

.stat-profile a:hover {
  text-decoration: none;
  color: #b33939;
}

.stat-subtext {
  font-size: 12px;
  margin: 10px;
}

.stat-text {
  font-size: 1.5rem;
}

.list-stat .stat:hover {
  text-decoration: none;
}

.text-small {
  font-size: 11px;
}

.signin-page {
  padding-top: 5rem;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1461897104016-0b3b00cc81ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.form-signin {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
  background-color: #333;
  color: aliceblue;
  z-index: 5;
}

.media-body {
  margin-left: 1rem;
}

/* ProjectDetile Component*/

#test {
  background-color: #b33939;
  color: aliceblue;
}

.upload-activity {
  background-color: #ecf0f1;
}

.activity {
  margin-bottom: 1.5rem;
}

.owner {
  font-weight: bold;
}

.timestamp {
  font-size: 0.9rem;
}

.stat-list {
  border-right: 1px solid #333;
}

.run-logo {
  font-size: 3rem;
}

/* stat page */
.sub-title {
  font-weight: bold;
  padding: 0px 0px 0px 0px;
}

/* userState */

.date-input>input {
  text-align: center;
}

/* table stat */
.table-date-stat {
  font-size: 0.9rem;
}

.table-striped>tbody>tr:nth-child(2n + 1)>td,
.table-striped>tbody>tr:nth-child(2n + 1)>th {
  background-color: #fdbfba;
}

.scroll {
  width: 50px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  border: none;
}

.admin-page {
  margin-top: 6rem;
}

.admin-page-information {
  margin-top: -3rem;
}

.running-event-title {
  text-align: center;
  font-size: 1.5rem;
}

.running-event-subtitle {
  font-size: 1rem
}

.running-event-description {
  font-size: 0.8rem;
  text-align: justify;
  text-justify: inter-word;
}

.running-event-categories {
  font-size: 0.8rem;
  color: #e74c3c;
}

.information-box {
  margin-top: -2rem;
}

.quote-text {

  font-family: 'Prompt', sans-serif;
  font-weight: lighter;
  margin-bottom: 0;
}