@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?a8l7vx");
  src: url("fonts/icomoon.eot?a8l7vx#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?a8l7vx") format("truetype"), url("fonts/icomoon.woff?a8l7vx") format("woff"),
    url("fonts/icomoon.svg?a8l7vx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete_forever-24px:before {
  content: "\e900";
}

.icon-pencil2:before {
  content: "\e906";
}

.icon-tongue2:before {
  content: "\e9e4";
}

.icon-delete_forever-24px:before {
  content: "\e900";
}

.searchBox {
  width: 200px;
}

.dashboard {
  margin-top: 5rem;
}

.thai-font {
  font-family: "Pridi", serif;
}

.avatar {
  position: relative;
}

.avatar-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  bottom: 3.5rem;
  height: 2rem;
}

.athelete-proflie {
  position: relative;
  margin-bottom: 2rem;
}

.athelete-profile-card {
  margin-top: 7rem;
}

.athelete-week-report {
  margin-top: 3rem;
}

.stat-profile {
  color: #b33939;
}

.stat-profile a:hover {
  text-decoration: none;
  color: #b33939;
}

.stat-subtext {
  font-size: 12px;
  margin: 10px;
}

.stat-text {
  font-size: 1.5rem;
}

.list-stat .stat:hover {
  text-decoration: none;
}

.text-small {
  font-size: 11px;
}

.signin-page {
  padding-top: 5rem;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1461897104016-0b3b00cc81ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.form-signin {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
  background-color: #333;
  color: aliceblue;
  z-index: 5;
}

.media-body {
  margin-left: 1rem;
}

/* ProjectDetile Component*/

#test {
  background-color: #b33939;
  color: aliceblue;
}

.upload-activity {
  background-color: #ecf0f1;
}

.activity {
  margin-bottom: 1.5rem;
}

.owner {
  font-weight: bold;
}

.timestamp {
  font-size: 0.9rem;
}

.stat-list {
  border-right: 1px solid #333;
}

.run-logo {
  font-size: 3rem;
}

/* stat page */
.sub-title {
  font-weight: bold;
  padding: 0px 0px 0px 0px;
}

/* userState */

.date-input > input {
  text-align: center;
}

/* table stat */
.table-date-stat {
  font-size: 0.9rem;
}

.table-striped > tbody > tr:nth-child(2n + 1) > td,
.table-striped > tbody > tr:nth-child(2n + 1) > th {
  background-color: #fdbfba;
}
